<div class="jewel-item">
  <div class="img-cnt">
    <img src="<%= jewel.img_url %>">
  </div>
  <div class="info-cnt">
    <input type="hidden" name="jewel_id" value="<%= jewel.id %>"/>
    <h3><%= jewel.title %></h3>
    <p><%= jewel.description %></p>
    <span class="price">$<%= jewel.price ||= "0.0" %></span>
  </div>
  <div>
    <input type="checkbox" name="approved_indicator" checked="checked" class="approve-indicator"/>
    <div class="buttons">
      <button class="btn-primary" onclick="expandComments(this, '<%= jewel.id %>', '<%= user.id %>')">More Comments</button>
      <button class="btn-primary details-popup">Details</button>
    </div>
  </div>
  <div class="clearfix"></div>
  <%= render 'shared/jewel_comments', { :jewel => jewel, :user => user } %>
</div>
