<% user = (comment.user.is_admin == true) ? "right" : "left" %>
<% color = (comment.user.is_admin == true) ? "aqua" : "graphite" %>
<div class="comment">     
  <p class="time">
    <%= comment.created_at.strftime('%b %e, %Y %I:%M %p') %> by
    <%= current_user == comment.user ? "Me" : comment.user.username ||= "anonymus" %>
  </p>
  <div class="comment <%= user %> bubble">
    <p class="<%= color %>"><%= comment.comment.to_s %></p>
  </div>
</div>
<div class="clearfix"></div>