<div class="comments-container">
  <div class="scrollable">
    <div class="jewel-comments-list jewel-comments-list-<%= user.id %>-<%= jewel.id %> chat">
      <% jewel.comments.each do |comment| %>
        <%= render 'shared/item_comment', { :comment => comment } %>
      <% end %>
    </div>
  </div>
  <div class="new-comment">
    <input name="new_comment" type="text" class="">
    <button class="btn-primary btn-send" onclick="send_comment(this, <%= user.id %>, <%= jewel.id %>)">Send</button>
  </div>
</div>
