<table class="account-manager" border="1" cellspacing="1" cellpadding="3">
  <tr>
    <th class="first">Customer Name</th>
    <th class="other">Colection List<br><small>(items to be sent to buyer)</small></th>
    <th class="other">Items with Comments<br><small>(items buyer waiting for reply)</small></th>
    <th class="other">Product List<br><small>(items buyer final OK)</small></th>
  </tr>
  
    <% @users.each do |user| if user.jewels.any? %>
        <tr>
          <td>
            <center><img src="<%= user.picture %>" alt="" /></center>
            <div class="info">
              <div class="username"><%= user.username %></div>
              <div class="email"><%= mail_to user.email %></div>
              <div class="id">ID: <%= user.id %></div>
              <div class="date">Last login: <%= user.current_sign_in_at ||= 'never logged in' %></div>
              <div class="items at all"><%= user.jewels.count %> items where sent to user</div>
            </div>
          </td>
          
          <td class="collection-list">
            <% available_list = user.jewels.select{ |j| j.status == 0 || j.status == 1 } %>
            <% if available_list.any? %>
              <div class="scrollable">
              <% available_list.each do |jewel| %>
                <%= render 'shared/item', { :jewel => jewel, :user => user } %>
              <% end %>
              </div>
              <button onclick="javascript:sentToBuyerBtnClick(this, '<%= user.id.to_s %>')">Send to buyer</button>
            <% end %>
          </td>
          
          <td class="commented-list">
            <% commenyed_list = user.jewels.select{ |j| j.status == 2 } %>
            <% if commenyed_list.any? %>
              <div class="scrollable">
                <% commenyed_list.each do |jewel| %>
                  <%= render 'shared/item', { :jewel => jewel, :user => user } %>
                <% end %>
              </div>
            <% end %>
          </td>
          
          <td class="production-list">
            <% final_list = user.jewels.select{ |j| j.status == 3 } %>
            <% if final_list.any? %>
              <div class="scrollable">
                <% final_list.each do |jewel| %>
                  <%= render 'shared/item', { :jewel => jewel, :user => user } %>
                <% end %>
              </div>
            <% end %>
          </td>
          
        </tr>
    <% end end %>
  
</table>