<table class="account-manager buyer-manager" border="1" cellspacing="1" cellpadding="3" style="border-spacing:0;">
  <tr>
    <th class="other">Available List<br><!--<small>(items to be sent to buyer)</small>--></th>
    <th class="other">Accepted List<br><!--<small>(items buyer waiting for reply)</small>--></th>
  </tr>

  <tr>
    <td>
      <div class="scrollable avail-jewel connectedSortable">
        <% @item_cls = '' %>
        <% @user.jewels.where(:status => [1]).each do |jewel| %>
          <%= render 'shared/item', { :jewel => jewel, :user => @user, :btn_style => 'visible' } %>
        <% end %>
        <% @item_cls = 'commented-jewel' %>
        <% @user.jewels.where(:status => [2]).each do |jewel| %>
          <%= render 'shared/item', { :jewel => jewel, 
                                      :user => @user, 
                                      :btn_style => 'visible' } %>
        <% end %>
      </div>
    </td>
    <td>
      <div class="scrollable cart-container">
        <% @item_cls = '' %>
        <% @user.jewels.where(:status => 3).each do |jewel| %>
          <div class="cart-item">
            <%= render 'shared/item', { :jewel => jewel, :user => @user } %>
          </div>
        <% end %>
      </div>
      <div class="scrollable approved-jewel connectedSortable">
      
      </div>
    </td>
</table>
<div class="buyer-bottom" style="float:right">
  <button  class="btn-primary"  onclick="submit_by_buyer(this, '<%= @user.id %>')">Send</button>
  <% if @user.jewels.where(:status => 3).any? %>
  <button  class="btn-primary"  onclick="showCart(this, '<%= @user.id %>')">Cart</button>
  <% end %>
</div>
